
.content-img{
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.content_text1{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #415167;
    margin: 0px;
}
.content_text3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
    color: #415167;
    margin: 0px;
    text-align: center;
}
.container_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 245px;
    padding-right: 60px;
}
.foto_content{
    width: 40%;
}
.title_icon{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #232C38;
    text-align: center;
}
.tetx_icon{
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #151D28;
    
}
@media (max-width: 1210px) {
    .container_img{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 200px;
        padding-right: 30px;
    }
}
@media (max-width: 922px) {
    .container_img{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 15px;
    }
}
@media (max-width: 620px) {
    .container_img{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 10px;
    }
    .content-img{
        padding-top: 70px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .content_text1{
        font-family: Nunito;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        color: #415167;
        margin: 0px;
    }
    .content_text3{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
        line-height: 34px;
        color: #415167;
        margin: 0px;
        text-align: center;
    }
  }
  
  /* Portrait phones and smaller */
//   @media (max-width: 480px) {
  
//   }
  
  /* Iphone 5 */
  @media (max-width: 400px) {
    .content_text1{
        font-family: Nunito;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 24px;
        text-align: center;
        color: #415167;
        margin: 0px;
    }
    .content_text3{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 34px;
        color: #415167;
        margin: 0px;
        text-align: center;
    }
  }
  
